*.o
Makefile
Makefile.in
.deps

/aclocal.m4
/autom4te.cache
/config.log
/config.status
/configure
/Makefile
/Makefile.in
/nc6*.tar.bz2
/nc6*.tar.gz
/nc6.spec
/stamp-h1
/config.h
/config.h.in
/config.cache
/ABOUT-NLS
/intl/
